<div class="row" id="{{ app.AppKey }}">
  <h2 id="{{ app.appKey }}">
    <a href="{{  path('bbr_version_viewer_LoadApplication', { 'appKey': app.getAppKey })  }}" class="refreshApp" {% if analytics %}trackAppLoad('{{ app.name }}', 'Application Name'){% endif %}>
        {{ app.name }} 
  		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  	</a>
  	<a href="{{  path('bbr_version_viewer_ExportApplicationVersion', { 'appKey': app.getAppKey })  }}" class="exportApp" {% if analytics %}trackAppExport('{{ app.name }}', 'Application Name'){% endif %}>
        <span class="glyphicon glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    </a>  
  </h2>
    <div class="message"></div>
  {% for appInstance in app.getAppInstance %}
  <div class="highlight col-lg-2 {{ appInstance.getEnvironment.getTrigram }} ">
    <ul class="list-unstyled {{ appInstance.getColor }} instance-infos" id="{{ app.getAppKey }}_{{ appInstance.getEnvironment.getTrigram }}">
      <li >
          <span class="label label-danger">{{  appInstance.getEnvironment.getName  }}</span>
      </li>
      <li class="error"></li>
      <li class="properties"></li>
      <li>
        <img class="loading" src="{{ asset('bundles/bbrversionviewer/img/ajax-loader.gif') }}" alt="loading ..." style="display: none;"/>
        <a href="{{ path('bbr_version_viewer_LoadInstance', { 'appKey': app.getAppKey, 'env' : appInstance.getEnvironment.getTrigram })  }}" 
           title="refresh this instance only" 
           class="refreshInstance lnk"
           {% if analytics %} 
                onclick="trackAppLoad('{{  app.name }} {{ appInstance.getEnvironment.getTrigram }}', 'Application instance')"
           {% endif %}>
        	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
        {# for loading via exec loading like nrpe don't dispay href tag, if null default config => http#}
        <a {% if app.appType.releaseFileLoaderType is null %} 
                href="{{ appInstance.releaseFile.command }}" 
           {% endif %} 
           target="_blank" 
           data-toggle="tooltip" 
           title="Command : {{ appInstance.releaseFile.command }} " 
           class="lnk"
           {% if analytics %}
                onclick="trackReleaseFileReach('{{  app.name }} {{ appInstance.getEnvironment.getName }}', 'Application instance')"
           {% endif %}>

            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
  {% endfor %}{#end instance loop#}
</div>
